.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RDS
*.rds
*.zip
*.RData
*.rdb
*.rdx
*.tsv
README.html
*~
.DS_Store
2021/ebaiin2/RNASeq/EBAIIn2_RNASeq_cache/
2021/ebaiin2/RNASeq/EBAIIn2_RNASeq_files/
2021/ebaiin2/RNASeq/EBAIIn2_RNASeq_apprenants_cache/
